/* Global Styles */
body {
  background-color: red;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  margin-right: auto;
}

nav a {
  color: white;
  margin-right: 10px;
  margin-left: auto;
  text-decoration: none;
}

header h1.title{
  width: 60%;
  text-align: center;
}

nav.menu{
  width: 40%;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Form Styles */
form {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Comparison Results Styles */
#comparison-results {
  margin: 20px 0;
}

#comparison-results h3 {
  margin: 0;
  text-align: center;
}

#comparison-results table {
  width: 100%;
  border-collapse: collapse;
}

#comparison-results th,
#comparison-results td {
  border: 1px solid #ddd;
  padding: 8px;
}

#comparison-results th {
  background-color: #3498db;
  color: white;
}

/* Footer Styles */
footer {
  background-color: #34495e;
  color: white;
  padding: 10px;
  text-align: center;
}