<!DOCTYPE html>
<html>

<head>
  <title>Porównywarka specyfikacji telefonów</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pico.classless.min.css">
</head>

<body>
  <header>
    <h1>Porównywarka specyfikacji telefonów</h1>
    <nav>
      <a href="/options/">Powrót</a>

    </nav>
  </header>
  <main>
    <h2>Wybierz telefony do porównania</h2>
    <form action="#" method="post">
    {% csrf_token %}
      <label for="phone1">Telefon 1:</label>
      <select id="phone1_brand-selector" name="phone1_brand">
        {% for brand in brands %}
          <option value="{{ brand.0 }}">{{ brand.1 }}</option>
          {% endfor %}
      </select>
        <select id="phone1_model-selector" name="phone1_model">

      </select>
      <br>
      <label for="phone2">Telefon 2:</label>
      <select id="phone2_brand-selector" name="phone2_brand">
        {% for brand in brands %}
          <option value="{{ brand.0 }}">{{ brand.1 }}</option>
          {% endfor %}
      </select>
        <select id="phone2_model-selector" name="phone2_model">

      </select>
      <br>
      <input type="submit" value="Porównaj">
    </form>
    <section id="comparison-results">
{#        <div id="phone1-specs">#}
{#    <h3>Specyfikacje telefonu 1</h3>#}
{#    <ul id="phone1-specs-ul">#}

{#    </ul>#}
{#</div>#}
{#<div id="phone2-specs">#}
{#    <h3>Specyfikacje telefonu 2</h3>#}
{#    <ul id="phone2-specs-ul">#}
{#        or %}#}
{#    </ul>#}
{#</div>#}

<table>
  <tr>
    <th>Telefon 1</th>
    <th>Telefon 2</th>
  </tr>
  <tr>
    <td>
      <ul id="phone1-specs-ul">

      </ul>
    </td>
    <td>
        <ul id="phone2-specs-ul"></ul>
    </td>
  </tr>
</table>


    </section>
  </main>
  <footer>
    <p>Copyright © 2023 Porównywarka Specyfikacji Telefonów</p>

  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
    //console.log("jestem w funkcji")
    $("#phone1_brand-selector").change(function(){
        var brandId = $(this).val();
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        //console.log(brandId)
        $.ajax({
          type: "POST",
          url: "/compare/",
          data: {brand_id: brandId},
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            //console.log(data);
          },
          success: function(data){
              //console.log(data);
            var modelSelect = $("#phone1_model-selector");
            modelSelect.empty();
            data.models.forEach(function(model){
               // console.log("models: " + model[1])
                modelSelect.append($("<option>").val(model[0]).text(model[1]));
            });
          }
        });
    });
});

    $(document).ready(function(){
    //console.log("jestem w funkcji")
    $("#phone2_brand-selector").change(function(){
        var brandId = $(this).val();
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        //console.log(brandId)
        $.ajax({
          type: "POST",
          url: "/compare/",
          data: {brand_id: brandId},
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function(data){
              //console.log(data);
            var modelSelect = $("#phone2_model-selector");
            modelSelect.empty();
            data.models.forEach(function(model){
               // console.log("models: " + model[1])
                modelSelect.append($("<option>").val(model[0]).text(model[1]));
            });
          }
        });
    });
});
    $("form").submit(function(e) {
    e.preventDefault();
    var phone1Brand = $("#phone1_brand-selector").val();
    var phone1Model = $("#phone1_model-selector").val();
    var phone2Brand = $("#phone2_brand-selector").val();
    var phone2Model = $("#phone2_model-selector").val();
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    //console.log(phone1Model);
    $.ajax({
        type: "POST",
        url: "/compare/",
        data: {phone1_brand: phone1Brand, phone1_model: phone1Model, phone2_brand: phone2Brand, phone2_model: phone2Model},
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            //console.log(data);
          },
        success: function(data) {
            console.log(data);
            //$("#comparison-results").html(data);
            var phone1SpecsList = $('#phone1-specs-ul');
            phone1SpecsList.empty();
            data.phone1_specs.forEach(function(spec){
                var imageUrl = spec[25];
                var listElement = $("<li>");
                var image = $("<img>").attr("src", imageUrl);
                listElement.append(image);
                phone1SpecsList.append(listElement);
                phone1SpecsList.append($("<li>").text("Marka: " + spec[27]));
                phone1SpecsList.append($("<li>").text("Model: " + spec[1]));
                phone1SpecsList.append($("<li>").text("Procesor(nazwa): " + spec[28]));
                phone1SpecsList.append($("<li>").text("Procesor(specyfikacja): " + spec[26]));
                phone1SpecsList.append($("<li>").text("Procesor graficzny: " + spec[29]));
                phone1SpecsList.append($("<li>").text("Data wydania: " + spec[3]));
                phone1SpecsList.append($("<li>").text("Wysokosc: " + spec[4]));
                phone1SpecsList.append($("<li>").text("Szerokość: " + spec[5]));
                phone1SpecsList.append($("<li>").text("Grubość: " + spec[6]));
                phone1SpecsList.append($("<li>").text("Rozdzielczość: " + spec[7]));
                phone1SpecsList.append($("<li>").text("Dedykowana karta pamięci: " + spec[12]));
                phone1SpecsList.append($("<li>").text("Warianty pamięci twardej: " + spec[13]));
                phone1SpecsList.append($("<li>").text("Warianty pamięci RAM: " + spec[14]));
                phone1SpecsList.append($("<li>").text("Standardy Wi-Fi: " + spec[15]));
                phone1SpecsList.append($("<li>").text("Karta SIM: " + spec[16]));
                phone1SpecsList.append($("<li>").text("Wejście ładowania: " + spec[17]));
                phone1SpecsList.append($("<li>").text("Mini-JACK: " + spec[18]));
                phone1SpecsList.append($("<li>").text("Wersja bluetooth: " + spec[19]));
                phone1SpecsList.append($("<li>").text("GPS: " + spec[20]));
                phone1SpecsList.append($("<li>").text("NFC: " + spec[21]));
                phone1SpecsList.append($("<li>").text("Radio: " + spec[22]));
                phone1SpecsList.append($("<li>").text("Pojemność baterii: " + spec[23]));
                }
            )

            var phone2SpecsList = $('#phone2-specs-ul');
            phone2SpecsList.empty();
            data.phone2_specs.forEach(function(spec){
                var imageUrl = spec[25];
                var listElement = $("<li>");
                var image = $("<img>").attr("src", imageUrl);
                listElement.append(image);
                phone2SpecsList.append(listElement);
                phone2SpecsList.append($("<li>").text("Marka: " + spec[27]));
                phone2SpecsList.append($("<li>").text("Model: " + spec[1]));
                phone2SpecsList.append($("<li>").text("Procesor(nazwa): " + spec[28]));
                phone2SpecsList.append($("<li>").text("Procesor(specyfikacja): " + spec[26]));
                phone2SpecsList.append($("<li>").text("Procesor graficzny: " + spec[29]));
                phone2SpecsList.append($("<li>").text("Data wydania: " + spec[3]));
                phone2SpecsList.append($("<li>").text("Wysokosc: " + spec[4]));
                phone2SpecsList.append($("<li>").text("Szerokość: " + spec[5]));
                phone2SpecsList.append($("<li>").text("Grubość: " + spec[6]));
                phone2SpecsList.append($("<li>").text("Rozdzielczość: " + spec[7]));
                phone2SpecsList.append($("<li>").text("Dedykowana karta pamięci: " + spec[12]));
                phone2SpecsList.append($("<li>").text("Warianty pamięci twardej: " + spec[13]));
                phone2SpecsList.append($("<li>").text("Warianty pamięci RAM: " + spec[14]));
                phone2SpecsList.append($("<li>").text("Standardy Wi-Fi: " + spec[15]));
                phone2SpecsList.append($("<li>").text("Karta SIM: " + spec[16]));
                phone2SpecsList.append($("<li>").text("Wejście ładowania: " + spec[17]));
                phone2SpecsList.append($("<li>").text("Mini-JACK: " + spec[18]));
                phone2SpecsList.append($("<li>").text("Wersja bluetooth: " + spec[19]));
                phone2SpecsList.append($("<li>").text("GPS: " + spec[20]));
                phone2SpecsList.append($("<li>").text("NFC: " + spec[21]));
                phone2SpecsList.append($("<li>").text("Radio: " + spec[22]));
                phone2SpecsList.append($("<li>").text("Pojemność baterii: " + spec[23]));
                }
            )

        }
    });
});
</script>
</body>

</html>