<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>release</th>
            <th>availability</th>
            <th>sim</th>
            <th>size</th>
            <th>weight</th>
            <th>ip_certificate</th>
            <th>color</th>
            <th>material</th>
            <th>os</th>
            <th>chipset</th>
            <th>storage_config</th>
            <th>resolution</th>
            <th>display_detail</th>
            <th>jack_port</th>
            <th>sound_loudspeaker</th>
            <th>wifi</th>
            <th>bluetooth</th>
            <th>gps</th>
            <th>nfc</th>
            <th>battery_details</th>
            <th>battery_charging</th>
            <th>connector</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>{{ row.6 }}</td>
            <td>{{ row.7 }}</td>
            <td>{{ row.8 }}</td>
            <td>{{ row.9 }}</td>
            <td>{{ row.10 }}</td>
            <td>{{ row.11 }}</td>
            <td>{{ row.12 }}</td>
            <td>{{ row.13 }}</td>
            <td>{{ row.14 }}</td>
            <td>{{ row.15 }}</td>
            <td>{{ row.16 }}</td>
            <td>{{ row.17 }}</td>
            <td>{{ row.18 }}</td>
            <td>{{ row.19 }}</td>
            <td>{{ row.20 }}</td>
            <td>{{ row.21 }}</td>
            <td>{{ row.22 }}</td>
            <td>{{ row.23 }}</td>


{#            <td>{{ row.id }}</td>#}
{#            <td>{{ row.release }}</td>#}
{#            <td>{{ row.availability }}</td>#}
{#            <td>{{ row.sim }}</td>#}
{#            <td>{{ row.size }}</td>#}
{#            <td>{{ row.weight }}</td>#}
{#            <td>{{ row.ip_certificate }}</td>#}
{#            <td>{{ row.color }}</td>#}
{#            <td>{{ row.material }}</td>#}
{#            <td>{{ row.os }}</td>#}
{#            <td>{{ row.chipset }}</td>#}
{#            <td>{{ row.storage_config }}</td>#}
{#            <td>{{ row.resolution }}</td>#}
{#            <td>{{ row.display_detail }}</td>#}
{#            <td>{{ row.jack_port }}</td>#}
{#            <td>{{ row.sound_loudspeaker }}</td>#}
{#            <td>{{ row.wifi }}</td>#}
{#            <td>{{ row.bluetooth }}</td>#}
{#            <td>{{ row.gps }}</td>#}
{#            <td>{{ row.nfc }}</td>#}
{#            <td>{{ row.battery_details }}</td>#}
{#            <td>{{ row.battery_charging }}</td>#}
{#            <td>{{ row.connector }}</td>#}
        </tr>
        {% endfor %}
    </table>
</body>
</html>