<!DOCTYPE html>
<html>
  <head>
      <title>Delete comment</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="/static/css/pico.classless.min.css">
  </head>
  <body>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Usuń komentarz</button>
        <table>
        <tr>
            <th>Comment ID</th>
            <th>Content</th>
            <th>User</th>

        </tr>
        {% for row in comments %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>

        </tr>
        {% endfor %}
    </table>
  </form>
    </body>

</html>