<!DOCTYPE html>
<html>
  <head>
    <title>{{phone.model}}</title>
  </head>
  <body>
    <!-- Obraz modelu telefonu -->
    <img src="{{phone.image_url}}" alt="Model telefonu">
    <!-- Nazwa modelu telefonu -->
    <h1>{{phone.brand_name}} {{phone.model}} </h1>
    <!-- Opis modelu telefonu -->
    <h2> Phone specification</h2>
    <h3> Premiere </h3>
    <p> Realese: {{phone.release}} </p>
    <h3>Physical</h3>
    <p>Dimensions: {{phone.height}}x{{phone.width}}x{{phone.thickness}}</p>
    <p>SIM card: {{phone.sim}}</p>
    <p>Battery: {{phone.battery_capacity}}</p>
    <p>Removable battery: {{phone.battery_removable}}</p>
    <h3>Display</h3>
    <p>Resolution: {{phone.resolution}}</p>
    <p>PPI: {{phone.ppi}}</p>
    <h3>Memory</h3>
    <p>Storage:
    {% for storage in phone.internal_memory %}
              {{storage}} 
    {% endfor %}</p>
    <p>RAM: 
    {% for ram in phone.ram %}
              {{ram}} 
    {% endfor %}</p> 
    <p>Dedicated card slot: {{phone.memory_card_dedicated}}</p>
    <h3>Platform</h3>
    <p>Chipset: {{phone.chipset_name}}</p>
    <p>CPU: {{phone.cpu_name}}</p>
    <p>GPU: {{phone.gpu_name}}</p>
    <h3>Connections</h3>
    <p>Connector: {{phone.connector}}</p>
    <p>Bluetooth: {{phone.bluetooth_version}}</p>
    <p>Wi-Fi: {{phone.wifi}}</p>
    <p>NFC: {{phone.nfc}}</p>
    <p>GPS: {{phone.gps}}</p>
    <p>FM radio: {{phone.radio}}</p>
    <p>3.5mm jack: {{phone.audio_jack}}</p>
    <h3>Camera</h3>
    {% for camera in cameras %}
    <p>MP: {{camera.mp}} / f: {{camera.f}}</p>
    {% endfor %}



    <!-- Formularz dodawania komentarzy -->
    <form method = "post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Dodaj komentarz</button>
    </form>

    <!-- Sekcja komentarzy -->
    <h2>Comments</h2>
    <div id="comments">
      {% for comment in comments %}
        <div>
          <h4>{{comment.email}}</h4>
          <p>{{comment.content}}</p>
      {% endfor %}
    </div>
  </body>
</html>
